<%- include ('../partials/header.ejs')%>
<div class="row">
  <form action="/trades" enctype="multipart/form-data" method="POST">
    <div class="col-4">
      <div class="row">
        <div class="col-0">
          <label for="category">Category</label>
        </div>
        <div class="col-3">
          <select class="form-control" name="category" id="" required>
            <%for( category in categories ){%>
            <option value="<%=categories[category]%>">
              <%= categories[category] %>
            </option>
            <%}%>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-0">
          <label for="title">Title</label>
        </div>
        <div class="col-3">
          <input
            required
            type="text"
            id="title"
            name="title"
            placeholder="Enter the Title"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-0">
          <label for="owner">Trading Price</label>
        </div>
        <div class="col-3">
          <input
            required min="0"
            type="number"
            id="price"
            name="price"
            placeholder="Enter the Price"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-0">
          <label for="details">Details</label>
        </div>
        <div class="col-3">
          <textarea
            required
            id="details"
            name="details"
            placeholder="Write Details.."
            style="height: 200px"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-0">
          <label for="details">image</label>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for=""></label>
            <input
              required
              type="file"
              class="form-control-file"
              name="imageName"
              id="tradeimage"
              placeholder="Select image"
              aria-describedby="trade image" accept="image/*"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <input type="submit" class="submit_button" value="Add Trade" />
          <input type="reset" class="submit_button" value="reset" />
        </div>
      </div>
    </div>
  </form>
</div>
<br />
<br />
<br />
<br />
<br />
<%- include ('../partials/footer.ejs')%>