<%- include ('./partials/header.ejs')%>
<div class="about-section">
  <h1>Contact US</h1>
  <p>
    No matter how the markets are moving, we’re with you at every turn. Whether
    it’s questions about our platforms and services, troubles with your account,
    or even general inquiries, we’ve got you covered. Our dedicated support team
    is on hand to assist you, 24 hours per day, 5 days per week.
  </p>
  <p>United States of America</p>
  <p>U.S. Headquarters</p>
  <p>110 Wall Street, New York, NY 10005</p>
  <p>Tel.: 1-833-FX1-0250</p>
</div>
<%- include('./partials/footer.ejs')%>
