<%- include ('./partials/header.ejs')%>
 <section>
      <div class="row">
        <div class="col">
          <div class="info">
            <h2>Welcome to iNiner Household Goods Trade !!!!</h2>
            <p>
              Where people go to find,trade or give way the Household Goods,
              such as Tools & Supplies,Kitchen Equipment,Cleaning Supplies,
              Furniture,Decor,Storage and Organizational Items.
            </p>
            <p>Check the our special section on Household Goods.</p>
          </div>
        </div>
      </div>
    </section>
    <%- include ('./partials/footer.ejs')%>