<%- include('../partials/header.ejs') %>
<div class="row">
    <div class="col-1">
        <form action = '/users' method = 'POST' class="mt-20">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class = "fixed-width" required>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" class = "fixed-width" required>
        
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class = "fixed-width" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" class = "fixed-width" required>
          <div class="row">
            <div class="col-1">
            <button type="submit" class="submit_button">Register</button>
            </div>
          </div>
           
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs') %>